/* ---------------------------------------------------------------------------------
Intro CSS for Demo landing page. If you do not use it, you can remove this css
-------------------------------------------------------------------------------------*/
.intro-page .tt-nav {
  height: 85px;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.intro-page .tt-nav.sticky {
  height: 60px;
}
.intro-page .tt-nav .header-sticky {
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.intro-page .tt-nav.sticky .header-sticky {
  border-bottom: 1px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.intro-page .tt-nav .logo-brand,
.intro-page .tt-nav .menuzord-menu>li>a {
    line-height: 85px;
}
.intro-page .tt-nav.sticky .logo-brand,
.intro-page .tt-nav.sticky .menuzord-menu>li>a {
    line-height: 60px;
}
.intro-page .tt-nav .logo-brand {
    margin: 20px 30px 0 0;
}
.intro-page .tt-nav.sticky .logo-brand {
    margin: 15px 30px 0 0;
}


@media screen and (max-width: 768px) {
  .intro-page .tt-nav .logo-brand {
      margin: 0;
  }
  
  .intro-page .tt-nav .logo-brand, 
  .intro-page .tt-nav .menuzord-menu>li>a {
      line-height: 20px;
  }

}





@media only screen and (min-width: 1170px) {
  .intro-page .tt-headline {
      font-size: 40px;
      font-weight: 900;
  }
}

.intro-page .tt-headline {
    color: #202020;
}
.tt-words-wrapper b {
    font-weight: 900;
    text-transform: lowercase;
}


.padding-bottom-200 {
  padding-bottom: 200px;
}




/*Color Box*/
.color-box-counter {
    position: relative;
    top: -90px;
}
.color-box {
    color: #fff;
    padding: 50px 30px;
    border-radius: 4px;
    box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, -0.81);
}
.color-box h2 {
    font-size: 60px;
    color: #fff;
    margin: 0;
}
.color-box .count-desc {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
}

.blue-grad {
  background: #007eff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #007eff, #00d8ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #007eff, #00d8ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #007eff, #00d8ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #007eff, #00d8ff); /* Standard syntax */
}

.pink-grad {
  background: #cd47ef; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #cd47ef, #ef476f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #cd47ef, #ef476f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #cd47ef, #ef476f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #cd47ef, #ef476f); /* Standard syntax */
}

.green-grad {
  background: #70ae6e; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #70ae6e, #beee62); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #70ae6e, #beee62); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #70ae6e, #beee62); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #70ae6e, #beee62); /* Standard syntax */
}
.purple-grad {
  background: #8200fb; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #8200fb, #c000ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #8200fb, #c000ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #8200fb, #c000ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #8200fb, #c000ff); /* Standard syntax */
}



.intro-page .portfolio-item a {
    color: #999;
}
.intro-page .portfolio-item:hover a {
    color: #03a9f4;
}
.intro-page .card-body {
    padding: 20px 30px;
}
.intro-page .card-title h2 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 900;
    text-transform: uppercase;
}
.intro-page .card-title h2 span {
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    background: #03a9f4;
    padding: 6px 5px;
    border-radius: 2px;
    text-transform: capitalize;
    position: relative;
    top: -3px;
}

.intro-page .card-title h2 span+span {
  margin-left: 4px;
}

.intro-page .card {
  -webkit-transition: box-shadow .3s ease;
  -moz-transition: box-shadow .3s ease;
  -o-transition: box-shadow .3s ease;
  transition: box-shadow .3 ease;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, -0.84), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.intro-page .card:hover {
  box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.16), 0 6px 10px 0 rgba(0, 0, 0, 0.12)
}


.intro-page .search-trigger i {
  line-height: 88px;
}


@media (max-width: 800px) {

  .intro-page .search-wrapper {
    display: none;
  }
  .intro-page.has-header-search .menuzord-menu,
  .intro-page.has-header-search .menuzord-responsive .showhide {
      margin-right: 0;
  }
}







/*Purchase Button*/
#purchase-btn {
  z-index: 500;
  position: fixed;
  bottom: -52px;
  right: 20px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;

}

#purchase-btn.show {
  bottom: 20px;
}
